-# %header.masthead.text-white.text-center
-#   .container
-#     .row.h-100.align-items-center
-#       .col-md-10.col-lg-8.col-xl-7.mx-auto
-#         = form_with url: root_path do |f|
-#           .form-row.vh-100.align-items-center
-#             .col-12.col-md-9.mb-2.mb-md-0
-#               = f.text_field :username,{ placeholder:"Search for a user...", class:"form-control form-control-lg"}
-#             .col-12.col-md-3
-#               = f.submit "Search!", class:"btn btn-block btn-lg btn-primary"
